.QualityService {
  background: var(--light-accent);
}
.QualityService .sub-title {
  color: var(--secondary-colour);
}
@media (max-width: 570px) {
  .QualityService .card-img-top {
    max-width: 60px;
  }
}
@media (min-width: 1300px) {
  .QualityService {
    padding: 70px 300px;
  }
}
