.AdvertiseBanner .advertise-banner {
  padding: 80px;
}
.AdvertiseBanner .catch {
  padding: 0px 300px 0;
}
.AdvertiseBanner .catchphrase {
  font-size: 30px;
  padding-bottom: 20px;
}
.AdvertiseBanner .sub-title {
  padding: 0px 0 10px;
}
@media (max-width: 570px) {
  .AdvertiseBanner .advertise-banner {
    padding: 10px;
    margin: 30px 0;
  }
  .AdvertiseBanner .sub-title {
    font-size: 30px;
  }
  .AdvertiseBanner {
    text-align: center;
  }
  .AdvertiseBanner .catch {
    padding: 10px;
    font-size: 20px;
  }
}
