:root {
  --main-font: "Lato", sans-serif;
  --heading-font: "Prata", serif;
  --script-font: "Dancing Script", cursive;
  --dark-accent: #2d3e59;
  --secondary-colour: #598ba8;
  --primary-colour: #a3d9d9;
  --light-accent: #f7f7f7;
  --grey-accent: #a3a3a3e0;
  --seamoss-colour: #5b89a6;
  --shadow: 0 0 10px rgba(241, 241, 241, 0.747);
}
body {
  font-family: var(--main-font);
}
.heading-title {
  font-family: var(--main-font);
  color: var(--secondary-colour);
  font-weight: 200;
  font-size: 60px;
}
.sub-title {
  font-family: var(--heading-font);
  font-size: 50px;
  text-align: center;
  color: var(--seamoss-colour);
}
.catch {
  font-size: 25px;
  color: var(--grey-accent);
  font-family: var(--main-font);
  font-weight: 300;
  margin: 0;
  text-align: center;
}
.title-divider {
  padding: 1px;
  width: 80%;
  opacity: 0.9;
  color: var(--primary-colour);
}
.divider-top {
  display: block;
  margin: 5px auto 50px;
  width: 40%;
}
@media (max-width: 578px) {
  .mobile-hidden {
    display: none;
  }
  .heading-title {
    font-weight: 300;
  }
}
