.CatchBanner {
  background: var(--light-accent);
  padding: 70px 0;
}
.CatchBanner .catch-phrase {
  text-align: center;
  padding-left: 180px;
}
.CatchBanner .sub-title {
  padding-top: 100px;
  color: var(--secondary-colour);
}
.CatchBanner .catch {
  padding: 20px 60px 100px;
}
.CatchBanner .books {
  display: block;
  margin: auto;
}
@media (max-width: 768px) {
  .CatchBanner .sub-title {
    padding-top: 50px;
    font-size: 35px;
  }
  .CatchBanner .catch-phrase {
    padding-left: 0px;
  }
  .CatchBanner .catch {
    font-size: 22px;
    padding: 20px;
  }
}
@media (max-width: 570px) {
  .CatchBanner .sub-title {
    padding-top: 50px;
    font-size: 30px;
  }
  .CatchBanner .catch-phrase {
    padding-left: 0px;
  }
  .CatchBanner .catch {
    font-size: 20px;
    padding: 20px;
  }
}
