.Contact .sub-title {
  text-align: start;
  font-size: 60px;
  color: var(--dark-accent);
}
.Contact .banner {
  background: var(--light-accent);
}
.Contact .script {
  font-family: var(--script-font);
  color: var(--seamoss-colour);
  font-size: 50px;
  padding: 20px;
}
.Contact .contact {
  padding: 5px 20px;
  font-weight: 300;
  color: var(--grey-accent);
}
@media (max-width: 768px) {
  .Contact .sub-title {
    font-size: 50px;
  }
  .Contact .banner {
    margin: 10px;
  }
  .Contact .script {
    font-size: 35px;
    padding: 15px;
  }
  .Contact .contact {
    font-size: 20px;
    padding: 5px 10px;
  }
}
@media (max-width: 570px) {
  .Contact .sub-title {
    text-align: center;
    font-size: 40px;
  }
  .Contact .banner {
    margin: 10px;
  }
  .Contact img {
    padding-top: 10px;
    margin: auto;
    display: block;
  }
  .Contact .script {
    font-size: 30px;
    padding: 10px;
  }
  .Contact .contact {
    font-size: 18px;
    padding: 5px 10px;
  }
}
