.Dext {
  background: var(--light-accent);
  padding: 150px 50px 80px;
}
.Dext .quote {
  text-align: center;
}
.Dext .service-quote {
  padding: 15px;
}
@media (max-width: 578px) {
  .Dext .heading-title {
    font-size: 27px;
    padding-bottom: 10px;
  }
  .Dext {
    padding: 60px 5px 30px;
  }
  .Dext .service-quote {
    padding: 5px;
  }
  .Dext .quote {
    position: relative;
    top: -80px;
  }
  .Dext .dext-logo {
    max-width: 220px;
    position: relative;
    top: -60px;
    left: 50px;
  }
}
