.Home .hero {
  background: url(/src/images/IAAU - image - ocean banner reduced.jpg) no-repeat
    center center fixed;
  max-height: 800px;
  height: 590px;
  background-size: cover;
}
.Home .heading-logo {
  max-width: 600px;
  display: block;
  margin: auto;
}
.Home .service-intro {
  background: url(/src/images/IAAU - image - keybard and pen.png) no-repeat
    center center;
  background-color: var(--light-accent);
  max-height: 800px;
  height: 590px;
  background-size: cover;
  z-index: 10;
  position: relative;
  top: -50px;
}
.Home .heading-title {
  margin: 0;
  margin-left: 30px;
}
.Home .service-quote {
  font-family: var(--script-font);
  font-size: 70px;
  line-height: 1;
  color: var(--secondary-colour);
  padding: 30px 50px;
}
.Home .description {
  opacity: 0.4;
  font-size: 24px;
  padding: 0px 50px;
  color: var(--grey-accent);
  font-weight: 200;
  margin: 0;
}
.Home .tetimonial {
  padding: 80px 0;
}
.Home .sub-title {
  color: var(--dark-accent);
}
@media (max-width: 570px) {
  .Home .hero {
    height: 380px;
  }
  .Home .service-intro {
    height: 300px;
  }
  .Home .description {
    font-size: 15px;
    padding: 10px;
  }
  .Home .service-quote {
    font-size: 30px;
    padding: 20px;
  }
  .Home .heading-title {
    font-size: 40px;
    margin: 0;
  }
  .Home .tetimonial {
    padding: 30px 0 0;
  }
}
