.custom-shape-divider-bottom-1634265382 {
  position: absolute;
  top: 550px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1634265382 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1634265382 .shape-fill {
  fill: var(--light-accent);
}
@media (max-width: 768px) {
  .custom-shape-divider-bottom-1634265382 {
    top: 490px;
  }
  .custom-shape-divider-bottom-1634265382 svg {
    height: 75px;
  }
}
@media (max-width: 570px) {
  .custom-shape-divider-bottom-1634265382 {
    top: 415px;
  }
  .custom-shape-divider-bottom-1634265382 svg {
    height: 50px;
  }
}
@media (min-width: 1300px) {
  .custom-shape-divider-bottom-1634265382 {
    top: 700px;
  }
  .custom-shape-divider-bottom-1634265382 svg {
    height: 175px;
  }
}
