.custom-shape-divider-bottom-1634265382 {
  position: absolute;
  top: 550px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1634265382 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1634265382 .shape-fill {
  fill: var(--light-accent);
}
